*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.scanning-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.24;
    color: #487996;
    margin-bottom: 16px;
}

.hero-scanning {
    padding-bottom: 16px;
}

.text {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.25;
    color: #2B2B2B;
}

.item {
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #487996;
}

.hero-scanning-img {
    text-align: center;
    margin-bottom: 45px;
}

.scanning-img {
    text-align: center;
    border-radius: 50px 0 50px;
    background: #FFFFFF;
    opacity: 0.8;
    border: 1px solid #000000;
    box-shadow: inset 1px 1px 16px #CBCBCB, inset -1px -1px 16px #FFFFFF;
}

.scanning-process {
    display: flex;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 20px;
}

.scanning-process>.scanning-img {
    flex-basis: calc((100% - 20px) / 2);
}

.scanning-item-description {
    width: 130px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}